body {
background-color: black;
}


/* Left Container */
#leftContainer {
position: absolute;
left: 60px;
top: 50px;
background-color: black;
height: 560px;
width: 260px;
border-radius: 10px;
padding: 20px;
text-align: left;
}


/* Find Images Button */
#button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: black;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 20px;
	width: 250px;
}

#button:hover {
    border: none;
    background:grey;
    box-shadow: 0px 0px 1px #777;
    
}

/* H1 */
h1 {
font-size: 30px;
color: white;
position: absolute;
top: 150px;
}

/* Form positioning and styling */
#tags {
font-size: 25px;
color: white;
position: absolute;
top: 220px;
}


/* Carousel */
#carousel {
background-color: white;
position: absolute;
left: 370px;
top: 50px;
border-radius: 20px;
width: 770px;
min-height: 600px;
}



#outerdiv {
overflow: hidden;
position: relative; 
width: 770px;
height: 160px;
background-color: #D8D8D8;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}


/* Loading gif */
#loading {

position: absolute;
left: 210px;
top: 35px;

}


/* Images collecting from Flickr */
#flickrimages {

vertical-align: middle;
margin:0px auto;

}


/* Individual image styling */
#flickrimages img {
	vertical-align: middle;
	margin: 10px auto;
	border-radius: 20px;
	padding: 10px;
	height: 120px;
	text-align: center;
	opacity: 0.4;
}


#flickrimages img:active { 
   opacity: 1;
   background: #ea0000;
   color: #fff;
}



#flickrimages img:hover {
    background: black;
    color: #fff;
    opacity: 1;
}


#carousel_inner {
float:left; /* important for inline positioning */
width:740px; 
overflow: hidden;  /* important (hide the items outside the div) */

}


#carousel_ul {
position:relative;
left:-210px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;

}

#carousel_ul li{
float: left; /* important for inline positioning of the list items */                                    
width:200px;  /* fixed width, important */
/* just styling bellow*/
margin-top:10px;
margin-bottom:10px; 
margin-left:5px; 
margin-right:5px;
padding:0px;
height:180px;
background: #000000;

}


/* Navigation arrows */
#left_scroll, #right_scroll{
float:left; 
height:130px; 
width:15px; 
background: #C0C0C0; 
}


#left_scroll img, #right_scroll img{
/*styling*/
cursor: pointer;
cursor: hand;
}


/* Main Container */
#maincontainer {
    background-color: white;
    width: 520px;
    height: 400px;
    position: absolute;
    top:175px;
	left: 130px;
}

/* Main Image displayed */
#maincontainer img {
    width:100%;
    height:100%;
	border-radius: 35px;
}



